@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .draggable {
    -webkit-app-region: drag;
  }

  .no-draggable {
    -webkit-app-region: no-drag;
  }

  .scroll-stable {
    scrollbar-gutter: stable;
  }
}

/**
  Importing fonts
*/

/* Montserrat*/
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-Light.ttf');
  font-weight: light;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-Regular.ttf');
  font-weight: normal;
}

/*Roboto*/

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Light.ttf');
  font-weight: light;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: normal;
}

body {
  font-family: 'Montserrat', 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  overflow: hidden;
}
